@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --background: oklch(0.9491 0 0);
  --foreground: oklch(0.4364 0.0238 260.1261);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.4364 0.0238 260.1261);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.4364 0.0238 260.1261);
  --primary: oklch(0.8146 0.0416 250.6246);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.7 0.045 255);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.9125 0.0122 247.9603);
  --muted-foreground: oklch(0.5522 0.0183 253.9883);
  --accent: oklch(0.9 0.01 90);
  --accent-foreground: oklch(0.4364 0.0238 260.1261);
  --destructive: oklch(0.7657 0.095 16.215);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8811 0.0064 255.4788);
  --input: oklch(0.9417 0.0052 247.879);
  --ring: oklch(0.8146 0.0416 250.6246);
  --chart-1: oklch(0.8146 0.0416 250.6246);
  --chart-2: oklch(0.7 0.045 255);
  --chart-3: oklch(0.9 0.01 90);
  --chart-4: oklch(0.7164 0.0302 235.0475);
  --chart-5: oklch(0.4434 0.1122 269.4931);
  --sidebar: oklch(0.9663 0.0165 250.8403);
  --sidebar-foreground: oklch(0.3075 0.0299 260.5225);
  --sidebar-primary: oklch(0.4918 0.0848 260.101);
  --sidebar-primary-foreground: oklch(0.9791 0 0);
  --sidebar-accent: oklch(0.8895 0.0596 9.291);
  --sidebar-accent-foreground: oklch(0.2481 0.0129 243.4067);
  --sidebar-border: oklch(0.8502 0.0064 255.4804);
  --sidebar-ring: oklch(0.8251 0.0921 90.999);
  --font-sans:
    'Baloo 2', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
}

.dark {
  --background: oklch(0.15 0.01 250);
  --foreground: oklch(0.95 0.01 255);
  --card: oklch(0.18 0.01 250);
  --card-foreground: oklch(0.95 0.01 255);
  --popover: oklch(0.2 0.015 250);
  --popover-foreground: oklch(0.95 0.01 255);
  --primary: oklch(0.7 0.04 250);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.4 0.03 255);
  --secondary-foreground: oklch(0.95 0.01 255);
  --muted: oklch(0.25 0.01 255);
  --muted-foreground: oklch(0.65 0.015 255);
  --accent: oklch(0.35 0.01 90);
  --accent-foreground: oklch(0.95 0.01 255);
  --destructive: oklch(0.6 0.1 25);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3 0.01 255);
  --input: oklch(0.28 0.01 250);
  --ring: oklch(0.7 0.04 250);
  --chart-1: oklch(0.7 0.04 250);
  --chart-2: oklch(0.4 0.03 255);
  --chart-3: oklch(0.35 0.01 90);
  --chart-4: oklch(0.5 0.03 235);
  --chart-5: oklch(0.55 0.09 270);
  --sidebar: oklch(0.18 0.01 250);
  --sidebar-foreground: oklch(0.9 0.01 255);
  --sidebar-primary: oklch(0.4 0.04 250);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.55 0.05 35);
  --sidebar-accent-foreground: oklch(0.9 0.01 255);
  --sidebar-border: oklch(0.25 0.01 255);
  --sidebar-ring: oklch(0.5 0.07 90);
  --font-sans:
    'Baloo 2', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 8px;
  border: 2px solid var(--background);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}
::-webkit-scrollbar-corner {
  background: var(--background);
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--background);
}

input::-ms-reveal,
input::-ms-clear,
input::-webkit-credentials-auto-fill-button {
  display: none !important;
}
